{{define "header"}}
{{template "head" .}}
<header class="navbar is-dark mb-3">
	<div class="navbar-brand">
		<a class="navbar-item is-size-4" href="/projects">GOAT-CG</a>
		<a role="button" class="navbar-burger" data-target="navbarBurgers" aria-expanded="false">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>
	<div id="navbarBurgers" class="navbar-menu">
		<div class="navbar-start">
			{{ if ne .project_cd nil }}
			<div class="navbar-item">
				<em class="has-text-info is-size-4">{{.project_cd}}</em>
			</div>
			{{ end }}
			{{ if eq .project_cd nil }}
			<div class="navbar-item">
				<a href="/projects/new" class="button is-small is-light">
				プロジェクト作成
				</a>
			</div>
			<div class="navbar-item">
				<a href="/projects/requests" class="button is-small is-light">
				メンバー管理
				</a>
			</div>
			{{ else }}
			<div class="navbar-item">
				<a href="/projects" class="button is-small is-light">
				プロジェクト一覧
				</a>
			</div>
			<div class="navbar-item">
				<a href="/{{.project_cd}}/tables" class="button is-small is-light">
				テーブル一覧
				</a>
			</div>
			<div class="navbar-item">
				<a href="/{{.project_cd}}/codegen" class="button is-small is-danger is-light">
				自動生成
				</a>
			</div>
			{{ end }}
		</div>
		<div class="navbar-end">
			<div class="navbar-item">
				<a class="button is-link is-small" href="/logout">ログアウト</a>
			</div>
		</div>
	</div>
</header>
{{end}}
