{{define "header"}}
{{template "head" .}}
<header class="navbar has-background-light mb-3">
	<div class="navbar-brand">
		<a class="navbar-item is-size-4 has-text-weight-bold" href="/">GOAT-CG</a>
		<a role="button" class="navbar-burger" data-target="navbarBurgers" aria-expanded="false">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>
	<div id="navbarBurgers" class="navbar-menu">
		<div class="navbar-start">
			<div class="navbar-item">
				{{ if ne .project nil }}
				<a href="/{{.project.Username}}" class="has-text-black-ter is-size-5">
					{{.project.Username}}
				</a>
				&nbsp;&nbsp;/&nbsp;&nbsp; 
				<a href="/{{.project.Username}}/{{.project.ProjectName}}" class="has-text-black-ter is-size-5">
					{{.project.ProjectName}}
				</a>
				{{ else }}
				<a href="/{{.username}}" class="has-text-black-ter is-size-5">{{.username}}</a>
				{{ end }}
			</div>
		</div>
		<div class="navbar-end">
			<div class="navbar-item">
				<a class="button is-small" href="/logout">Logout</a>
			</div>
		</div>
	</div>
</header>
{{end}}
