{{define "header"}}
{{template "head" .}}
<header class="navbar is-dark mb-3">
	<div class="navbar-brand">
		<a class="navbar-item" href="/projects">GOAT-CG</a>
		<a role="button" class="navbar-burger" data-target="navbarBurgers" aria-expanded="false">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>
	<div id="navbarBurgers" class="navbar-menu">
		<div class="navbar-start">
			{{ if ne .project_cd nil }}
			<div class="navbar-item has-text-info">
				<em>{{.project_cd}}</em>
			</div>
			{{ end }}
			<div class="navbar-item">
				<a href="/projects">
				プロジェクト一覧
				</a>
			</div>
			{{ if eq .project_cd nil }}
			<div class="navbar-item">
				<a href="/projects/new">
				プロジェクト作成
				</a>
			</div>
			<div class="navbar-item">
				<a href="/projects/requests">
				メンバー管理
				</a>
			</div>
			{{ else }}
			<div class="navbar-item">
				<a href="/{{.project_cd}}/tables">
				テーブル一覧
				</a>
			</div>
			<div class="navbar-item">
				<a href="/{{.project_cd}}/codegen">
				自動生成
				</a>
			</div>
			{{ end }}
		</div>
		<div class="navbar-end">
			<div class="navbar-item">
				<a class="button is-link is-small" href="/logout">ログアウト</a>
			</div>
		</div>
	</div>
</header>
{{end}}
