{{template "header" .}}
<main>
<h1 class="title">{{.project_cd}}</h1>
<h2 class="subtitle">{{ .table.TableName }}</h2>

<a href="columns/new" class="material-icons is-pulled-right"
style="font-size: 40px;">
add
</a>
<div class="box has-background-g-lighter">
<table class="table is-fullwidth is-hoverable is-striped mb-1 has-background-white-lighter">
  	<thead>
		<tr>
			<th style="width:4%;"></th>
			<th style="width:20%;">ColumnName</th>
			<th style="width:25%;">ColumnName（JP）</th>
			<th style="width:8%;">Type</th>
			<th style="width:6%;">prec</th>
			<th style="width:6%;">scale</th>
			<th style="width:4%;">PK</th>
			<th style="width:4%;">NN</th>
			<th style="width:4%;">UQ</th>
			<th style="width:15%;">update</th>
			<th style="width:4%;"></th>
		</tr>
	</thead>
</table>
<div style="height: 380px; overflow-y:scroll;">
<table class="table is-fullwidth is-hoverable is-bordered">
	<tbody>
		{{ range $i, $c := .columns }}
		{{ if eq $c.DelFlg 1 }}
		<tr class="has-background-grey">
		{{ else }}
		<tr>
		{{ end }}
			<td style="width:4%;">{{$i}}</td>
			<td style="width:20%;">{{$c.ColumnName}}</td>
			<td style="width:25%;">{{$c.ColumnNameLogical}}</td>
			<td style="width:8%;">
			{{ if eq $c.DataTypeCls "10" }}
			TEXT
			{{ else if eq $c.DataTypeCls "11"}}
			VARCHAR
			{{ else if eq $c.DataTypeCls "12"}}
			CHAR
			{{ else if eq $c.DataTypeCls "20"}}
			INTEGER
			{{ else if eq $c.DataTypeCls "30"}}
			NUMERIC
			{{ else if eq $c.DataTypeCls "40"}}
			TIMESTAMP
			{{ else if eq $c.DataTypeCls "41"}}
			DATE
			{{ else if eq $c.DataTypeCls "01"}}
			SERIAL
			{{ end }}
			</td>
			<td style="width:6%;">{{$c.Precision}}</td>
			<td style="width:6%;">{{$c.Scale}}</td>
			<td style="width:4%;">
			{{ if eq $c.PrimaryKeyFlg 1 }}
				○
			{{ end }}
			</td>
			<td style="width:4%;">
			{{ if eq $c.NotNullFlg 1 }}
				○
			{{ end }}
			</td>
			<td style="width:4%;">
			{{ if eq $c.UniqueFlg 1 }}
				○
			{{ end }}
			</td>
			<td style="width:15%;">
				<p style="font-size:0.8rem">{{.UpdateAt}}</p>
			</td>
			<td style="width:4%;" class="py-1">
				<a href="./columns/{{$c.ColumnId}}" 
				class="material-icons">edit</a>
			</td>
		</tr>
		{{ end }}
	</tbody>
</table>
</div>
</div>

<a href="../../tables">Back to Table list.</a>
</main>
{{template "footer"}}