{{template "header" .}}
<main>
<h1 class="title">カラム更新履歴</h1>
<div class="box has-background-light" style="height: 450px; overflow-y:scroll;">
	<table class="table is-fullwidth is-hoverable mb-1 has-background-light">
		<thead>
			<tr>
			<th style="min-width:50px;">順</th>
			<th style="min-width:200px;">カラム名</th>
			<th style="min-width:200px;">カラム名（JP）</th>
			<th style="min-width:140px;">型</th>
			<th style="min-width:110px;">デフォ値</th>	
			<th style="min-width:50px;">PK</th>
			<th style="min-width:50px;">NN</th>
			<th style="min-width:50px;">UQ</th>
			<th style="min-width:60px;">削除</th>
			<th style="min-width:150px;">更新日</th>
			<th style="min-width:150px;">更新者</th>
			</tr>
		</thead>
	</table>
	<table class="table is-fullwidth is-hoverable is-bordered is-striped is-narrow">
		<tbody>
			{{ range $i, $c := .columnlog }}
			<tr>
			<td style="min-width:50px;">{{$c.AlignSeq}}</td>
			<td style="min-width:200px;">{{$c.ColumnName}}</td>
			<td style="min-width:200px;">{{$c.ColumnNameLogical}}</td>
			<td style="min-width:140px;">
			{{ if eq $c.DataTypeCls "10" }}
			TEXT
			{{ else if eq $c.DataTypeCls "11"}}
			VARCHAR
			{{ else if eq $c.DataTypeCls "12"}}
			CHAR
			{{ else if eq $c.DataTypeCls "20"}}
			INTEGER
			{{ else if eq $c.DataTypeCls "30"}}
			NUMERIC
			{{ else if eq $c.DataTypeCls "40"}}
			TIMESTAMP
			{{ else if eq $c.DataTypeCls "41"}}
			DATE
			{{ else if eq $c.DataTypeCls "50"}}
			BLOB
			{{ else if eq $c.DataTypeCls "01"}}
			SERIAL
			{{ end }}

			{{ if ne $c.Precision 0}}
				{{ if ne $c.Scale 0}}
				({{$c.Precision}}, {{$c.Scale}})
				{{ else }}
				({{$c.Precision}})
				{{ end }}
			{{ end }}
			</td>
			<td style="min-width:110px;">{{$c.DefaultValue}}</td>
			<td style="min-width:50px;">
			{{ if eq $c.PrimaryKeyFlg 1 }}
			○
			{{ end }}
			</td>
			<td style="min-width:50px">
			{{ if eq $c.NotNullFlg 1 }}
			○
			{{ end }}
			</td>
			<td style="min-width:50px">
			{{ if eq $c.UniqueFlg 1 }}
			○
			{{ end }}
			</td>
			<td style="min-width:60px">
			{{ if eq $c.DelFlg 1 }}
			○
			{{ end }}
			</td>
			<td style="min-width:150px; font-size: 0.8em">
			{{$c.UpdateAt}}
			</td>
			<td style="min-width:150px;">
			{{$c.UpdateUserName}}
			</td>
			</tr>
			{{ end }}
		</tbody>
	</table>
</div>
<div class="mt-5">
	<a href="../">カラム一覧</a>
</div>
</main>
{{template "footer"}}