{{template "header" .}}
<main>
    <div class="mb-3">
        <a href="/{{.username}}/projects/new" class="button is-success has-text-weight-bold">
            New Project
        </a>
    </div>
    <hr class="hr is-marginless mb-4">
    <div class="container">
        <div class="columns is-multiline">
		{{ range .projects }}
        <div class="column is-half">
		<div class="box">
			<a class="has-text-weight-bold" href="/{{.Username}}/{{.ProjectName}}">{{.ProjectName}}</a>
            <hr class="hr is-marginless">
			<div class="mt-2 is-size-7" style="min-height: 2em;">{{.ProjectMemo}}</div>
			<div class="has-text-right is-size-7">{{.CreatedAt}}~</div>
        </div>
        </div>
		{{ end }}
        </div>
    </div>
{{ $l := len .member_projects }}
{{ if ne $l 0 }}
    <div class="container">
        <spam>参画プロジェクト</spam>
        <div class="columns is-multiline">
        {{ range .member_projects }}
        <div class="column is-half">
        <div class="box">
            <a class="has-text-weight-bold" href="/{{.Username}}/{{.ProjectName}}">{{.ProjectName}}</a>
            <hr class="hr is-marginless">
            <div class="mt-2 is-size-7" style="min-height: 2em;">{{.ProjectMemo}}</div>
            <div class="has-text-right is-size-7">{{.CreatedAt}}~</div>
        </div>
        </div>
        {{ end }}
        </div>
    </div>
{{ end }}
</main>
{{template "footer"}}