{{template "head" .}}
<header class="navbar is-dark mb-3">
	<div class="navbar-brand">
		<a class="navbar-item has-text-weight-bold is-size-4" href="/">GOAT-CG</a>
		<a role="button" class="navbar-burger" data-target="navbarBurgers">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>
	<div id="navbarBurgers" class="navbar-menu">
		<div class="navbar-end">
			<div class="navbar-item">
				<a class="button is-small" href="/signup">Signup</a>
			</div>
		</div>
	</div>
</header>
<script type="text/javascript">

</script>

<div class="columns is-centered mt-6">
<div class="column is-half box px-5 pb-5">
<div class="mb-3 mt-1">
</div>
<form method="post">
	<span class="has-text-danger">{{.error}}</span>
	<div class="field">
		<p class="control has-icons-left">
		<input class="input" type="text" name="username" placeholder="User Name" value="{{.username}}">
		<span class="icon is-small is-left">
		<i class="fas fa-user"></i>
		</span>
		</p>
	</div>
	<div class="field">
		<p class="control has-icons-left">
		<input class="input" type="password" name="password" placeholder="Password" value="{{.password}}">
		<span class="icon is-small is-left">
		<i class="fas fa-lock"></i>
		</span>
		</p>
	</div>
	<div class="field">
		<p class="control">
			<input class="button is-success" type="submit" id="signup" value="Login">
		</p>
	</div>
</form>
</div>
</div>
{{template "footer" .}}