{{template "header" .}}
<main>
<h1 class="title">プロジェクト作成</h1>

<div class="box has-background-light">
<div class="has-text-danger">{{.error}}</div>
<form method="post" action="/{{.username}}/projects">
	<div class="columns is-gapless">
		<div class="column is-3">
			<label class="label">プロジェクト名</label>
			<input type="text" name="project_name" class="input is-danger" 
			required pattern="[0-9a-zA-Z]{2,}" value="{{.project_name}}">
			<p class="help is-danger">
				[0-9a-zA-Z]{2,}
			</p>
		</div>
		<div class="column is-3">
			<label class="label">メモ</label>
			<input type="text" name="project_memo" class="input is-danger" 
			required value="{{.project_memo}}">
			<p class="help is-danger">
			</p>
		</div>
	</div>
	<input type="submit" value="登録" class="button is-dark">
</form>
</div>

<div class="mt-5">
	<a href="../projects">プロジェクト一覧</a>
</div>
</main>
{{template "footer"}}