{{template "header" .}}
<main>
<h2 class="subtitle">Create new project</h2>

<div class="box has-background-light">
<form method="post" action="/projects" class="mb-5">
	<div class="columns is-gapless">
		<div class="column is-3">
			<label class="label">ProjectCD</label>
        	<input type="text" name="project_cd" class="input is-danger" 
        	required pattern="[0-9A-Z]{4,}">
			<p class="help is-danger">
        	[0-9A-Z]{4,}
      		</p>
		</div>
		<div class="column is-3">
			<label class="label">ProjectName</label>
			<input type="text" name="project_name" class="input is-danger" required>
			<p class="help is-danger">
        	This field is required
      		</p>
		</div>
	</div>
	<input type="submit" value="Register" class="button is-dark">
</form>
</div>
<a href="../projects">Back to Project list.</a>
</main>
{{template "footer"}}