{{template "header" .}}
<main>
<form method="GET" action="/projects" class="mb-4 mt-3">
	<div class="columns is-gapless">
		<div class="column is-3">
			<input type="text" name="project_cd" class="input" placeholder="プロジェクトCD">
		</div>
		<div class="column">
			<input type="submit" value="検索" class="button is-success">
		</div>
	</div>
</form>

{{ if ne .project.ProjectId 0 }}
<div class="mb-4">
	<span class="has-text-grey">検索結果</span>
	<div style="overflow-y:scroll;">
	<table class="table is-fullwidth is-hoverable is-bordered is-striped is-narrow">
		<tbody>
		<tr>
			<td style="min-width:160px;">{{.project.ProjectCd}}</td>
			<td style="min-width:200px;">{{.project.ProjectName}}</td>
			<td style="min-width:180px;">{{.project.CreateAt}}</td>
			<td style="min-width:120px;">
				<form method="post" action="./projects/requests/join">
					<input type="hidden" name="project_cd" value="{{.project.ProjectCd}}">
					<input type="submit" class="button is-small is-rounded is-info is-outlined" value="申請">
				</form>
			</td>
		</tr>
		</tbody>
	</table>
	</div>
</div>
<hr>
{{ end }}

{{ $l := len .projects2 }}
{{ if ne $l 0 }}
<div class="mb-4">
	<span class="has-text-grey">申請中プロジェクト</span>
	<div style="overflow-y:scroll;">
	<table class="table is-fullwidth is-hoverable is-bordered is-striped is-narrow">
		<tbody>
		{{ range .projects2 }}
		<tr>
			<td style="min-width:160px;">{{.ProjectCd}}</td>
			<td style="min-width:200px;">{{.ProjectName}}</td>
			<td style="min-width:180px;">{{.CreateAt}}</td>
			<td style="min-width:120px;">
				<form method="post" action="./projects/requests/cancel">
					<input type="hidden" name="project_cd" value="{{.ProjectCd}}">
					<input type="submit" class="button is-small is-rounded is-info is-outlined" value="キャンセル">
				</form>
			</td>
		</tr>
		{{ end }}
		</tbody>
	</table>
	</div>
</div>
<hr>
{{ end }}

<div>
	
	<h1 class="title">プロジェクト一覧</h1>
	<div style="height: 360px; overflow-y:scroll;">
	<table class="table is-fullwidth is-hoverable is-bordered is-striped is-narrow">
		<tbody>
		{{ range .projects }}
		<tr>
			<td style="min-width:160px;">{{.ProjectCd}}</td>
			<td style="min-width:200px;">{{.ProjectName}}</td>
			<td style="min-width:180px;">{{.CreateAt}}</td>
			<td style="min-width:120px;">
				<a class="button is-small is-link" href="/{{.ProjectCd}}/tables">テーブル一覧</a>
			</td>
		</tr>
		{{ end }}
		</tbody>
	</table>
</div>
</main>
{{template "footer"}}