{{template "header" .}}
<main>
<div>
	<h1 class="title">プロジェクト一覧</h1>
	<div style="height: 360px; overflow-y:scroll;">
	<table class="table is-fullwidth is-striped">
		<tbody>
		{{ range .projects }}
		<tr>
			<td style="min-width:160px;">{{.ProjectName}}</td>
			<td style="min-width:200px;">{{.ProjectMemo}}</td>
			<td style="min-width:200px;">{{.CreatedAt}}~</td>
			<td style="min-width:120px;">
				<a class="button is-small is-info is-rounded" href="/{{.username}}/{{.ProjectName}}/tables">
					開始
				</a>
			</td>
		</tr>
		{{ end }}
		</tbody>
	</table>
</div>

{{ $l := len .member_projects }}
{{ if ne $l 0 }}
<div class="mb-4">
	<span class="has-text-grey">参画プロジェクト</span>
	<div style="overflow-y:scroll;">
	<table class="table is-fullwidth is-hoverable is-striped">
		<tbody>
		{{ range .member_projects }}
		<tr>
			<td style="min-width:160px;">{{.ProjectName}}</td>
			<td style="min-width:200px;">{{.ProjectMemo}}</td>
			<td style="min-width:200px;">{{.CreatedAt}}~</td>
			<td style="min-width:120px;">
				<a class="button is-small is-info is-rounded" href="/{{.username}}/{{.ProjectName}}/tables">
					開始
				</a>
			</td>
		</tr>
		{{ end }}
		</tbody>
	</table>
	</div>
</div>
<hr>
{{ end }}
</main>
{{template "footer"}}