{{template "header" .}}
<main>
<div>
<span class="is-size-5">Requests.</span>

<div class="box has-background-light">
<table class="table is-fullwidth is-hoverable mb-1 has-background-light">
  	<thead>
		<tr>
			<th style="width:15%;">Project</th>
			<th style="width:25%;"></th>
			<th style="width:20%;">UserName</th>
			<th style="width:20%;"></th>
			<th style="width:10%;"></th>
			<th style="width:10%;"></th>
		</tr>
	</thead>
</table>
<div style="height: 400px; overflow-y:scroll;">
<table class="table is-fullwidth is-hoverable is-striped">
	<tbody>
		{{ range .joinrequests }}
		<tr>
			<td style="width:15%;">{{.ProjectCd}}</td>
			<td style="width:25%;">{{.ProjectName}}</td>
			<td style="width:20%;">{{.UserName}}</td>
			<td style="width:20%;">{{.UpdateAt}}</td>
			<td style="width:10%;" class="py-1">
				<form method="post" action="/projects/requests/permit">
					<input type="hidden" name="project_cd" value="{{.ProjectCd}}">
					<input type="hidden" name="user_id" value="{{.UserId}}">
					<input type="submit" class="button is-small is-dark is-rounded is-outlined" value="permit">
				</form>
			</td>
			<td style="width:10%;" class="py-1"></td>
		</tr>
		{{ end }}
	</tbody>
</table>
</div>
</div>

</div>
</main>
{{template "footer"}}