{{template "header" .}}
<main>
<h1 class="title">{{.project_cd}}</h1>
<h2 class="subtitle">Table list</h2>
<a href="tables/new" class="material-icons is-pulled-right"
style="font-size: 40px;">
add
</a>
<div class="box has-background-light">
<table class="table is-fullwidth is-hoverable mb-1 has-background-light">
  	<thead>
		<tr>
			<th style="width:7%;"></th>
			<th style="width:22%;">TableName</th>
			<th style="width:22%;">TableName（JP）</th>
			
			<th style="width:18%;">create</th>
			<th style="width:18%;">update</th>
			<th style="width:4%;"></th>
			<th style="width:9%;"></th>
		</tr>
	</thead>
</table>
<div style="height: 360px; overflow-y:scroll;">
<table class="table is-fullwidth is-hoverable is-bordered is-striped is-narrow">
	<tbody>
		{{ range $i, $t := .tables }}
		{{ if eq $t.DelFlg 1 }}
		<tr class="has-background-grey">
		{{ else }}
		<tr>
		{{ end }}
			<td style="width:7%;">{{$i}}</td>
			<td style="width:22%;">{{$t.TableName}}</td>
			<td style="width:22%;">{{$t.TableNameLogical}}</td>
			
			<td style="width:18%;">
				<p>{{$t.CreateAt}}</p>
			</td>
			<td style="width:18%;">
				<p>{{$t.UpdateAt}}</p>
			</td>
			<td style="width:4%;" class="py-1">
				<a href="./tables/{{$t.TableId}}"
				class="button is-small is-info is-rounded is-outlined">edit</a>
			</td>
			<td style="width:9%;" class="py-1">
				<a href="./tables/{{$t.TableId}}/columns" 
				class="button is-small is-link">columns</a>
			</td>
		</tr>
		
		{{ end }}
	</tbody>
</table>
</div>
</div>
<a href="/projects">Back to Project list.</a>
</main>
{{template "footer"}}