{{template "header" .}}
<main>
<h1 class="title">テーブル一覧</h1>
<a href="tables/new" class="material-icons is-pulled-right"
style="font-size: 40px;">
add
</a>
<div class="box has-background-light" style="height: 450px; overflow-y:scroll;">
<table class="table is-fullwidth is-hoverable mb-1 has-background-light">
  	<thead>
		<tr>
			<th style="min-width:50px;"></th>
			<th style="min-width:240px;">テーブル名</th>
			<th style="min-width:240px;">テーブル名（JP）</th>
			<th style="min-width:150px;">登録</th>
			<th style="min-width:150px;">更新</th>
			<th style="min-width:100px;">ログ</th>
			<th style="min-width:70px;"></th>
			<th style="min-width:100px;"></th>
		</tr>
	</thead>
</table>
<table class="table is-fullwidth is-hoverable is-bordered is-striped is-narrow">
	<tbody>
		{{ range $i, $t := .tables }}
		{{ if eq $t.DelFlg 1 }}
		<tr class="has-background-grey">
		{{ else }}
		<tr>
		{{ end }}
			<td style="min-width:50px;">{{$i}}</td>
			<td style="min-width:240px;">{{$t.TableName}}</td>
			<td style="min-width:240px;">{{$t.TableNameLogical}}</td>
			
			<td style="min-width:150px; font-size: 0.8em;">
				{{$t.CreateAt}}
			</td>
			<td style="min-width:150px; font-size: 0.8em;">
				{{$t.UpdateAt}}
			</td>
			<td style="min-width:100px; font-size: 0.8em;">
			</td>
			<td style="min-width:70px;" class="py-1">
				<a href="./tables/{{$t.TableId}}"
				class="button is-small is-info is-rounded is-outlined">編集</a>
			</td>
			<td style="min-width:100px;" class="py-1">
				<a href="./tables/{{$t.TableId}}/columns" 
				class="button is-small is-link">カラム一覧</a>
			</td>
		</tr>
		
		{{ end }}
	</tbody>
</table>
</div>
</main>
{{template "footer"}}