* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    min-height: 100vh;
    position: relative;
    padding-bottom: 40px;
}


footer {
    position: absolute;
    bottom: 0;
}


main {
    margin-left: 40px;
    margin-right: 40px;
}


h1 {
    font-size: 1.5em !important;
}

td {
    vertical-align:middle !important;
}